{% extends 'layout.html' %}

{% block contenido %}   
      <form action="tabla_cliente.html">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="Descripciòn">Descripciòn Cliente</label>
            <input type="text" class="form-control" id="Descripciòn" placeholder="Descripciòn Cliente">
          </div>          
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="Còdigo Cliente">Còdigo Cliente</label>
              <input type="text" class="form-control" id="Còdigo_Cliente" placeholder="Còdigo Cliente">
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="Valor_Unitario">Valor Unitario</label>
                <input type="text" class="form-control" id="Valor_Unitario" placeholder="Valor Unitario">
              </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="Cantidad">Cantidad</label>
                <input type="text" class="form-control" id="Cantidad" placeholder="Cantidad">
        </div>        
          <div class="form-group col-md-4">
            <label for="Categoria">Categoria</label>
            <select id="Categoria" class="form-control">
              <option selected>Seleccione...</option>
              <option value="1">Alimentos</option>
              <option value="2">Calzado</option>
              <option>...</option>
            </select>
          </div>          
        <button type="submit" class="btn btn-primary">Guardar</button>
      </form>
      {% endblock contenido %}