{% extends 'layout.html' %}

{% block contenido %}   
      <form action="tabla_cliente.html">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="Descripciòn">Descripciòn Cliente</label>
            <input type="text" class="form-control" id="Descripciòn" placeholder="Descripciòn Cliente">
          </div>          
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="identidad">identidad</label>
              <input type="text" class="form-control" id="identidad" placeholder="identidad">
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="telefono">telefono</label>
                <input type="text" class="form-control" id="telefono" placeholder="telefono">
              </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="direccion">direccion</label>
                <input type="text" class="form-control" id="direccion" placeholder="direccion">
        </div>                 
        <button type="submit" class="btn btn-primary">Guardar</button>
      </form>
      {% endblock contenido %}