{% extends 'layout.html' %}

{% block contenido %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre Vendedor</th>
        <th scope="col">Email</th>
        <th scope="col">Direcciòn</th>            
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Luisa Ortiz Zapata</td>
        <td>LuisaOrtiz123@gmail.com</td>
        <td>Calle 18a 50sur - 19</td>            
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Felipe Cuartas Perez</td>
        <td>CuartasFel98@yahoo.com</td>
        <td>Avenida65 39 c 82</td>            
      </tr>          
      <tr>           
    </tbody>
  </table>
{% endblock contenido %}    
     
