{% extends 'layout.html' %}

{% block contenido %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Descripciòn</th>
            <th scope="col">Còdigo Cliente</th>        
            <th scope="col">Categoria</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Cueros Velez</td>
            <td>901234576</td>
            <td>Ropa</td>            
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Cerdos Colombia</td>
            <td>9185763</td>
            <td>Alimentos</td>            
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Adidas</td>
            <td>0047368347</td>
            <td>Calzado</td>            
          </tr>
          <tr>           
        </tbody>
      </table>
      
      {% endblock contenido %}    